  .container__task{
  display: flex;
  font-family: var(--project-font);
}

.container__grid {
  display: flex;
  align-items: center;
  height: 5rem;
  margin: .6rem 0 0 0;
  padding: 0;
  border: 1px solid #dadada;
  border-left: 7px solid #9e8cf8;
  border-radius: .4rem;
  background-color: #fff;
}

.container__grid:hover {
  background-color: #f8f8f8;
}

.dropdown__icon {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 1.5rem;
}

/* native NextUI class to delete btn color */
.nextui-c-iWjDFM-dQSRQX-cv {
  color: var(--fourth-color);
}

.task__grid:nth-child(1) {
  padding-left: 2.4rem;
  font-size: 1rem;
  font-weight: 500;
}

.task__grid:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
}

.task__grid:nth-child(3) {
  padding-left: 0;
  font-size: .9rem;
}

.task__grid:nth-child(4) {
  padding: 1.5rem 0 0 0;
  font-size: 1.1rem;
  font-weight: 200;
}

.task__username {
  border: 1px solid var(--fifth-color);
  border-radius: .5rem;
  padding: .3rem .9rem;
}

.task__select {
  width: 7rem;
  background-color: rgba(161, 219, 255, 0.163);
  border-radius: .4rem;
  border: none;
}


.task__select--option:nth-child(2) {
background-color: #ADDA89;
}

.task__select--option:nth-child(3) {
background-color: #EBE399;
}

.task__select--option:nth-child(4) {
background-color: #99CDEB;
}

.task__select--option:nth-child(5) {
background-color: #EB9999;
}

.dropdown-selection {
  background-color: transparent;
  color: black;
  font-size: 1.1rem;
  letter-spacing: .2rem;
}
