.registertask__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--project-font);
}

.task__title {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.registertask__input{
  width: 18rem;
  margin: 0 0 1rem; 
}
.registertask__input:nth-child(2) { 
  margin-left: 1.25rem;
}

.register__task--article {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.registertask__btn {
  margin-top: 1.5rem;
  padding: .8rem 2.5rem;
  border: none;
  border-radius: .7rem;
  background-color: #8bdcff;
  color: var(--fifth-color);
  font-family: var(--project-font);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .4rem;
}

.registertask__btn:hover {
  background-color: #68d0fd;
}