.register__container {
  display: flex;
  height: 45rem;
  font-family: var(--project-font);
}

.register__title {
  margin-bottom: 2rem;
  font-size: 1.55rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.register__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.register__article {
  display: flex;
  flex-direction: column;
}

.register__btn {
  margin-top: 1.5rem;
  background-color: #8bdcff;
  color: var(--fifth-color);
  font-family: var(--project-font);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .4rem;
  cursor: default;
}

.register__btn:hover {
  background-color: #68d0fd;
}

.register__input {
  width: 20rem;
  margin: 0 0 1rem;
}