.container__employees {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 0.2rem;
  height: 3rem;
  padding-top: 0.2rem;
  background-color: var(--third-color);
  font-family: var(--project-font);
}
