.container__navbar {
  /* background-color: transparent; */
  font-family: var(--project-font);
  height: 6.3rem;
}

/* NextUI native class modified */
.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: transparent;
  backdrop-filter: none;
}

.nextui-c-hhqfap-kAwfsS-disableShadow-false{
  box-shadow: none;
}

.btn__navbar {
  background-color: var(--contrast-color);
  font-weight: 400;
  letter-spacing: .15rem;
  color: var(--fifth-color);
}

.btn__navbar:hover {
  background-color: var(--fifth-color);
  color: var(--contrast-color);
  cursor: default;
}