.container__navbar {
  /* background: linear-gradient(to left, #8ca6dbb9, #B993D6b9); */
  font-family: var(--project-font);
  height: 6.3rem;
}

/* NextUI native class modified */
.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: transparent;
  backdrop-filter: none;
}

.nextui-c-hhqfap-kAwfsS-disableShadow-false{
  box-shadow: none;
}

.btn__navbar {
  background-color: var(--fifth-color);
  font-weight: 400;
  letter-spacing: .15rem;
  color: var(--contrast-color);
}

.btn__navbar:hover {
  background-color: var(--contrast-color);
  color: var(--fifth-color);
  cursor: default;
}

.logo__navbar--image{
  height: 6.2rem;
}

.role__navbar--p {
  font-weight: 300;
}

.firstname__span {
  font-size: 1.1rem;
  font-weight: 600;
}

.role__span {
  padding: .2rem .6rem;
  border-radius: .8rem;
  background-color: rgb(140, 31, 213);
  font-size: .7rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1rem;
}