.container__employee{
  display: flex;
  font-family: var(--project-font);
}

.container__gird--employee {
  display: flex;
  align-items: center;
  height: 5rem;
  margin: .6rem 0 0 0;
  padding: 0;
  border: 1px solid #dadada;
  border-left: 7px solid #59bfee;
  border-radius: .4rem;
  background-color: #fff;
}
.container__gird--employee:hover {
  background-color: #f8f8f8;
}

.emp__grid:nth-child(1) {
  padding-left: 2.4rem;
  font-size: 1rem;
  font-weight: 500;
}

.emp__grid:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
}

.emp__grid:nth-child(3) {
  padding-left: 0;
  font-size: .9rem;
}

.emp__grid:nth-child(4) {
  padding: 1.5rem 0 0 0;
  font-size: 1.1rem;
  font-weight: 200;
} 
.emp-edit-modal-btn {
  all: unset;
  cursor: pointer;
}

.emp__role {
  align-self: center;
}

.employee__edit--p {
  padding: .8rem 1rem;
  border-radius: .6rem;
  background-color: #01577c;
  color: #fff;
  font-size: .9rem;
  font-family: var(--task-font);
  font-weight: 600;
  letter-spacing: .15rem;
  cursor: default;
}

.employee__edit--p:hover {
  background-color: #0077aa;
}

.edit_emp{
 padding: 1rem;
}