.admin__main {
  height: 45rem;
  border-radius: .4rem;
  background-color: rgba(255, 255, 255, 0.256);
}

.admin__grid--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.admin__grid:nth-child(1) {
  display: flex;
  justify-content: center;
}