@import url(./assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

div#root {
  width: 100%;
  /* background: linear-gradient(to right, hsla(18, 96%, 80%, 0.4), hsla(279, 81%, 75%, 0.4), hsla(266, 80%, 69%, 0.4));  */
 
}
/* html {
  background: linear-gradient(to right, hsla(18, 96%, 80%, 0.4), hsla(279, 81%, 75%, 0.4), hsla(266, 80%, 69%, 0.4)); 
} */

:root {
  --task-font: font-family: 'Exo', sans-serif;
  --project-font:'Inter', sans-serif;
  --first-color:#AAC4FF;
  --second-color:#B1B2FF;
  --third-color:#D2DAFF;
  --fourth-color:#EEF1FF;
  --fifth-color:#25316D;
  --contrast-color:#FEF5AC;
}